.ff{
	text-align: center;
	width: 500xp;
	color: white;
}
h1{
	text-align: center;
}
h2{
	text-align: center;
}
p1{
	display: inline;
}
p{
	font-weight: bold;
	font-size: 35px;
}
body {
  background: url(1659562945_27-kartinkin-net-p-uzor-dlya-patterna-krasivo-27.jpg) ;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.yy{
	color: white;
}
button {
	border-radius: 5px;
	background: url(simple-ruby-color-texture-background_922038-540.png);
}